.main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.content__box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	border-radius: 3px;
}

.detail__title {
	width: 100%;
	height: 35px;
}

.title__content {
	width: 100%;
	height: 35px;
	line-height: 35px;
}

.detail__login {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: 35px;
	border-bottom: 1px solid black;
}

.login__name {
	height: 35px;
	line-height: 35px;
	margin-right: 25px;
	color: black;
}

.login__today {
	height: 35px;
	line-height: 35px;
	margin-right: 25px;
	color: black;
}

.comment__area {
	width: 100%;
	padding: 5px;
}

.comment__read {
	width: 50vw;
	height: 40vh;
}

.comment__bottom {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.modify__box {
	display: flex;
	width: 19rem;
	margin-top: 15px;
	justify-content: flex-end;
	position: relative;
	right: 0;
}

.comment__modify {
	width: 6.25rem;
	color: white;
	background-color: black;
	border: none;
	padding: 10px;
}

.modify__cancel {
	width: 6.25rem;
	color: white;
	background-color: black;
	border: none;
	padding: 10px;
	margin-left: 20px;
}

/* Modify Style */
.input {
	margin-top: 25px;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
	padding: 5px;
}

.edit__title {
	width: 100%;
}

.title__input {
	width: 50rem;
	height: 35px;
}

.edit__login {
	width: 50rem;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
}

.edit__name {
	width: 30%;
	height: 35px;
	margin-right: 20px;
}

.edit__password {
	width: 30%;
	height: 35px;
}

.edit__comment {
	width: 100%;
}

.comment__create {
	width: 50rem;
	height: 19rem;
}

@media screen and (max-width: 768px) {
	.main {
		padding-top: 50px;
	}

	.title__content,
	.detail__login,
	.comment__read,
	.title__input,
	.edit__login,
	.comment__create {
		width: 100%;
	}

	.content__box {
		margin: 0 5px;
	}

	.detail__login {
		padding: 0;
	}

	.comment__modify {
		margin: 0 10px;
	}
}
