.input {
	margin-top: 25px;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
	padding: 5px;
}

.edit__title {
	width: 100%;
}

.title__input {
	width: 800px;
	height: 35px;
}

.edit__login {
	width: 800px;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
}

.login__name {
	width: 30%;
	height: 35px;
	margin-right: 20px;
}

.login__password {
	width: 30%;
	height: 35px;
}

.edit__comment {
	width: 100%;
}

.comment__create {
	width: 800px;
	height: 300px;
}
