.main {
	display: flex;
	flex-direction: column;
	width: 100dvw;
	height: 100dvh;
}

.topSection {
	display: flex;
	position: absolute;
	width: 100%;
	margin-bottom: 50px;
}

.bottomSection {
	display: flex;
	text-align: center;
	margin: 12dvh auto;
	justify-content: space-between;
	height: 100%;
}

.leftLayout {
	text-align: center;
	width: 10.5vw;
}

.rightContent {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 auto;
	width: 64rem;
}

@media screen and (max-width: 768px) {
	.main {
		width: 100vw;
		height: 100dvh;
	}
	.topSection {
		position: fixed;
		z-index: 1;
	}

	.leftLayout {
		display: none;
	}

	.rightContent {
		width: 100%;
		height: 100%;
		align-items: center;
	}
}
