.main {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100dvh;
}

.topSection {
	width: 100dvw;
	position: fixed;
	z-index: 5;
}

.bottomSection {
	display: flex;
	text-align: center;
	justify-content: space-between;
	position: absolute;
	inset: 7.5rem 12.5rem 1rem 4.5rem;
}

.leftLayout {
	text-align: center;
	width: 12.5rem;
}

.rightContent {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 82rem;
	margin: 0 auto;
}

@media screen and (max-width: 800px) {
	.main {
		display: flex;
	}

	.topSection {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100dvw;
		padding: 15px;
		z-index: 1;
	}

	.bottomSection {
		/* height: 100%;
		margin-top: 7rem; */
		inset: 100px 0px 0 0;
	}

	.leftLayout {
		position: relative;
		top: 0;
		left: 0;
	}

	.rightContent {
		display: flex;

		margin: 0 auto;
	}
}
