.main {
	display: flex;
	flex-direction: column;
	width: 100dvw;
	height: 100vh;
}

.topSection {
	display: flex;
	position: absolute;
	width: 100%;
	margin-bottom: 50px;
	z-index: 1;
}

.bottomSection {
	display: flex;
	text-align: center;
	margin: 12dvh auto;
	justify-content: space-between;
	height: 100%;
}

.leftLayout {
	text-align: center;
	width: 10.5vw;
}

.rightContent {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	/* .topSection {
		z-index: 1;
	} */

	/* .bottomSection {
		inset: 10px 0 0 0;
		top: 135px;
	} */

	.leftLayout {
		display: none;
	}

	.rightContent {
		width: 100%;
	}
}
