.changeTextBox {
	font-weight: bold;
	font-size: 5rem;
	height: inherit;
}

.isActive {
	display: block;
}

.isHidden {
	display: none;
}

@media screen and (max-width: 768px) {
	.changeTextBox {
		font-weight: bold;
		font-size: 3rem;
		height: inherit;
	}
}
