.main {
	margin-top: 3rem;
}

.changeTitle {
	margin-left: 15px;
}

.titleBox {
	display: flex;
	align-items: center;
	width: 85dvw;
}

.division {
	height: 2px;
	width: 100%;
	margin-left: 5px;
	background-color: black;
}
