.container {
	display: flex;
	justify-content: space-between;
	text-align: center;
	background-color: rgba(222, 222, 222);
	align-items: center;
	width: 100dvw;
	height: 12dvh;
}

.items {
	display: flex;
	list-style: none;
	margin: 0 10px;
	font-weight: bolder;
	align-items: center;
}

.items a {
	margin-right: 1rem;
	transition: all 250ms ease-in;
}

.items a:hover {
	transform: translateY(-10%);
}

.items li {
	display: flex;
	width: 100px;
	height: 50px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.menuBtn {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 15px;
	background-color: transparent;
	color: black;
	border: none;
	display: none;
}

.isActive {
	background-color: rgba(0, 0, 0);
	color: white;
}

@media screen and (max-width: 768px) {
	.menuBtn {
		display: block;
		background-color: transparent;
		color: black;
		border: none;
	}

	.container {
		flex-direction: row;
		align-items: center;
		height: 95px;
		position: absolute;
	}

	.logo {
		margin: 0;
	}

	.items {
		flex-direction: column;
		position: absolute;
		text-align: center;
		background-color: rgb(222, 222, 222);
		width: 100dvw;
		top: 5rem;
		display: none;
		z-index: 1;
	}

	.toggleMenu {
		display: flex;
	}
	.items a {
		width: 100vw;
	}

	.items li {
		width: 100vw;
		margin: 0;
	}
}

@keyframes Navbar {
	0% {
		height: 0;
	}

	100% {
		height: 100%;
	}
}
