.changeTitle {
	display: flex;
	margin: 3rem;
}

.titleBox {
	display: flex;
	align-items: center;
	width: 3px;
}

.title {
	writing-mode: vertical-lr;
	text-orientation: upright;
	position: relative;
}
.title::after {
	content: '';
	width: 2px;
	height: 100%;
	position: absolute;
	background-color: black;
	display: flex;
	justify-content: center;
}

.division {
	height: 100%;
	width: 2px;
	margin-left: 5px;
	background-color: black;
	writing-mode: vertical-lr;
	text-orientation: upright;
}

@media screen and (max-width: 768px) {
	.changeTitle {
		margin: 50px 0;
	}
}
