.container {
	width: 45dvw;
	height: 70dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	color: white;
}

.item {
	margin: 0 auto;
	background-color: rgb(15, 15, 15);
	padding: 15px;
	width: 60dvw;
}

.imgBox {
	margin-bottom: 30px;
}

.textBox {
	display: flex;
	flex-direction: column;

	width: inherit;
}

.text {
	margin-bottom: 15px;
	margin-left: 10px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.textTitle {
	font-size: 1.5rem;
	font-weight: bold;
}

.textContent {
	margin: 10px 0 0 25px;
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		height: 65dvh;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		color: white;
	}

	.item {
		margin: 0 auto;
		padding: 15px;
		width: 100%;
	}
}
