.closeBtn {
	width: 50px;
	z-index: 5;
	cursor: pointer;
	background-color: transparent;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	color: white;
}

@media screen and (max-width: 768px) {
	.closeBtn {
		width: 40px;
		z-index: 5;
		cursor: pointer;
		background-color: black;
		border: none;
		position: absolute;
		top: 0;
		right: 0;
		margin: 10px;
		color: white;
	}
}
