.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.main_title {
	font-size: 1.5rem;
	margin: 25px auto;
	animation: titles 3s;
}

.works {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	column-gap: 10px;
	row-gap: 10px;
}

.project {
	width: 200px;
	height: 130px;
	position: relative;
}

.title {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	background-color: black;
	color: white;
	opacity: 0;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	transition: all 250ms ease-in;
	transform: translateY(-10%);
}

.title:hover {
	opacity: 0.8;
	transform: translateY(0%);
}

@media screen and (max-width: 768px) {
	.container {
		padding-top: 50px;
	}

	.container h3 {
		font-size: 1rem;
		margin: 5px auto;
		animation: titles 3s;
	}

	.works {
		display: grid;
		grid-template-columns: 170px 170px;
		margin: 5px;
	}

	.project {
		width: 170px;
		height: 130px;
		position: relative;
	}
}

@keyframes titles {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}
