.comment__main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	/* justify-content: center;
	width: 100%; */
}

/* top */
.comment__top {
	width: 100%;
	text-align: center;
}

.comment__title {
	display: inline-block;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

/* middle */
.comment__middle {
	margin: 0 auto;
	width: 50rem;
	padding: 15px;
}

.comment__list {
	list-style: none;
}

.list__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

.item__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
}

.name {
	font-weight: 700;
	margin-right: 20px;
	width: 8vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

.today {
	width: 6vw;
	color: darkgrey;
	font-size: 13px;
}

.comment_nav {
	display: flex;
	justify-content: center;
}

/* bottom */
.comment__bottom {
	display: flex;
	justify-content: flex-end;
}

.edit__btnBox {
	display: flex;
	width: 19rem;
}

.edit__btn {
	width: 6.25rem;
	color: white;
	background-color: black;
	border: none;
	padding: 10px;
	margin-right: 20px;
}

.cancel__btn {
	width: 6.25rem;
	color: white;
	background-color: black;
	border: none;
	padding: 10px;
}

@media screen and (max-width: 768px) {
	.comment__main {
		padding-top: 100px;
	}

	.comment__title {
		font-size: 1rem;
	}

	.comment__top p {
		font-size: 0.8rem;
	}

	.comment__middle {
		width: 100%;
	}

	.title {
		font-size: 0.8rem;
	}

	.name {
		width: 11vw;
		font-size: 0.8rem;
	}

	.today {
		width: 19vw;
	}

	.edit__btn {
		font-size: 0.7rem;
	}
}
